<div class="page-navigation">
	<h1 class="page-title">
		Disputes
		{{#if resultsLoader.isLoading}}
			<span class="loader loading"></span>
		{{/if}}
	</h1>
</div>

{{view Balanced.DatePickerView viewName="dateTimePicker"}}
{{view Balanced.DisputeDownloadModalView}}

<div class="results">
	<div class="items-wrapper">
		{{view Balanced.DisputesResultsView disputesBinding="resultsLoader.results"}}
	</div>
</div>
