<div class="page-navigation">
	<h1 class="page-title">
		Payment methods
		{{#if resultsLoader.isLoading}}
			<span class="loader loading"></span>
		{{/if}}
	</h1>
</div>

{{view Balanced.DatePickerView viewName="dateTimePicker"}}
<div class="results">
	{{view Balanced.FundingInstrumentsResultsView fundingInstrumentsBinding="resultsLoader.results"}}
</div>

