<div class="dropdown borderless datetime-picker">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
    	<i class="icon-calendar"></i>
  		<span {{bind-attr class=":date"}}>
        {{view.startTimeLabel}}
      </span>
  		<span class="sep">–</span>
      <span {{bind-attr class=":date"}}>
        {{view.endTimeLabel}}
      </span>
  		<b class="caret"></b>
    </a>
</div>
